.customNoteSection {
	border: none;
	resize: none;	
}

.customNoteSectionDate {
	padding: 0.75rem;
}

.customPaddingTop {
	padding-top: 0.75rem;
}

.customDialog > section > div:nth-child(1){
	width: 100% !important;
}

.customDialog .sapUiVltCell.sapuiVltCell > .customSelectField.sapUiHLayout.sapUiHLayoutNoWrap,
.customDialog .sapUiVltCell.sapuiVltCell > .customSelectField.sapUiHLayout.sapUiHLayoutNoWrap > .sapUiHLayoutChildWrapper:nth-child(1) {
	width: 100%;
}

.customDialog .sapUiVltCell.sapuiVltCell > .customSelectFieldRemoveIcon.sapUiHLayout.sapUiHLayoutNoWrap { 
	width: 100%;
}

.customDialog .sapUiVltCell.sapuiVltCell > .customSelectFieldRemoveIcon.sapUiHLayout.sapUiHLayoutNoWrap > .sapUiHLayoutChildWrapper:nth-child(1) {
	width: 90%;
}

.customDialog .sapUiVltCell.sapuiVltCell > .customSelectFieldRemoveIcon.sapUiHLayout.sapUiHLayoutNoWrap > .sapUiHLayoutChildWrapper:nth-child(2) {
	right: 0;
	position: absolute;
}

.customDialog .customDatePicker {
	width: 90%;
}

.customDialog .customTimeInput {
	width: 50% !important;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 640px) and (orientation:landscape){
	.customDialog .sapUiVltCell.sapuiVltCell > .customSelectFieldRemoveIcon.sapUiHLayout.sapUiHLayoutNoWrap > .sapUiHLayoutChildWrapper:nth-child(1) {
		width: 94%;
	}
}

.resizeNone > textarea {
	resize: none;
}

