.cusCrmMyCalendar .sapMLIBContent {
	width: 100%;
}

.cusFormlabelPadding .sapUiRespGridSpanL5.sapUiRespGridSpanM5.sapUiRespGridSpanS12 > span.sapMText {
	padding-top: 1rem;
}

.cusFormlabelPadding .sapUiRespGridSpanL4.sapUiRespGridSpanM4.sapUiRespGridSpanS12 > span.sapMText {
	padding-top: 1rem;
}

.cusMyApptLiOutter {
	height: 4.437rem;
	min-width: 20rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.cusMyApptLiAttch {
	text-align: left;
	vertical-align: center;
	width: 0rem;
	height: 4.4rem;
	padding-top: 2.2rem;
} 

.cusMyApptLiLeft {
	text-align: right;
	width: 5.71rem;
}

.cusMyApptLiMiddle {
	flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1; /* OLD - Firefox 19- */
	-webkit-flex: 1; /* Chrome */
	-ms-flex: 1; /* IE 10 */
	padding-right: 1rem;
	padding-left: 0.938rem;
}

.cusMyApptLiPadding {
	padding-top: 0.875rem;
	padding-bottom: 1rem;
}

.cusMyApptLiRight {
	text-align: right;
	vertical-align: top;
}

.cusMyApptLiEllipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cusMyApptLiTime {
	font-weight: normal;
	padding-bottom: 0.500rem;
}

.cusMyApptLiTitel {
	font-weight: normal;
	padding-bottom: 0.500rem;
}

.cusMyApptLiStatus {
	padding-bottom: 0.625rem;
}

/* RTL specific */

.cusMyApptLiAttchRTL{
	width : 1rem;
	padding-left : 1rem;
}

html[data-sap-ui-browser="ie9"] .cusMyApptLiAttchRTL{
	width : 1rem;
	padding-left : 1rem;

}
/* IE9 specific */
html[data-sap-ui-browser="ie9"] .cusMyApptLiOutter {
	height: 4.437rem;
	min-width: 20rem;
	position: relative;
}

html[data-sap-ui-browser="ie9"] .cusMyApptLiAttch {
	text-align: left;
	vertical-align: center;
	height: 4.4rem;
	padding-top: 2.2rem;
	position: absolute;
	top: 0;
	left: 0;
} 

html[data-sap-ui-browser="ie9"] .cusMyApptLiLeft {
	text-align: right;
	width: 5.71rem;
}

html[data-sap-ui-browser="ie9"] .cusMyApptLiMiddle {
	width: calc(80% - 6.71rem);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 6.71rem; /* left part (5.71+1px border) */
	padding-right: 0;
	padding-left: 0;
}

html[data-sap-ui-browser="ie9"] .cusMyApptLiPadding {
	padding-top: 0.875rem;
	padding-bottom: 1rem;
	display: inline-block;
	
}

html[data-sap-ui-browser="ie9"] .cusMyApptLiRight {
	text-align: right;
	vertical-align: top;
	width: 20%;
	position: absolute;
	top: 0;
	right: 0;
}


/* Calendar Day TypeDot not Selected */
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay0.sapMeCalendarTypeDot,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay1.sapMeCalendarTypeDot,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay2.sapMeCalendarTypeDot,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay3.sapMeCalendarTypeDot,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay4.sapMeCalendarTypeDot,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay5.sapMeCalendarTypeDot,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay6.sapMeCalendarTypeDot
	{
	background-image: url(../img/dot_b_new.png);
	background-repeat: no-repeat;
	background-position: 50% 90%;
	background-size: 8px;
}

/* Calendar Day TypeDot Selected */
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay0.sapMeCalendarTypeDot.sapMeCalendarSelected,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay1.sapMeCalendarTypeDot.sapMeCalendarSelected,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay2.sapMeCalendarTypeDot.sapMeCalendarSelected,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay3.sapMeCalendarTypeDot.sapMeCalendarSelected,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay4.sapMeCalendarTypeDot.sapMeCalendarSelected,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay5.sapMeCalendarTypeDot.sapMeCalendarSelected,
.cusCrmMyCalendar .sapMeCalendarApproval>.sapMeCalendarMonth>div.sapMeCalendarMonthDays>.sapMeCalendarMonthDay.sapMeCalendarWeekDay6.sapMeCalendarTypeDot.sapMeCalendarSelected
	{
	background-image: url(../img/dot_w_new.png);
	background-repeat: no-repeat;
	background-position: 50% 90%;
	background-size: 8px;
}


.cusTest>td>.sapMOH {
	margin: 0;
	padding: 0;
}

.cusMyAppCellTitle {
	font-size: 1.2rem;
}

/* custom CSS to fix SegmentedButton in Bar.contentMiddle for 1.18 must
be replaced with Toolbar for 1.20 */
.cusCrmMyCalendar .sapMBarPH {
  display: block;
}

.TypePad {
	padding : 1rem 0 0 0;
}

.AppErrorMsg {
       font-size: 1rem;
       padding-top: 0.875rem;
}


